<mat-toolbar class="toolbarCustom">
  <header class="header">
    <span>Retro Board</span>
  <div class=buttons>
    <button mat-flat-button class="btn" (click)="addBoardFormHandler()">
      New board
    </button>
    <button mat-flat-button class="btn" (click)="exportHandler()">
      Export to Excel
    </button>
  </div>
  </header>
</mat-toolbar>
