.toolbarCustom {
  height: auto;
  margin-bottom: 20px;
}
.header {
  padding: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;

  @media screen and (max-width: 478px) {
    flex-direction: column;
  }
}

.buttons {
  width: 350px;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 478px) {
    width: 100%;
  }
}

.btn {
  background-color: #69f0ae;
  color: #424242;
}
