.comments {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

.comment {
  margin-bottom: 10px;
}

.commentText {
  margin: 0;
  text-align: right;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 10px;
}
