<div class="comments">
  <div class="comment" *ngFor="let comment of comments">
    <p class="commentText">{{ comment }}</p>
  </div>
  <app-form
    [contentType]="'ADD_COMMENT'"
    [boardId]="boardId"
    [boardItemIndex]="boardItemIndex"
    [class]="'addCommentForm'"
  ></app-form>
</div>
