.icon {
  color: white;
  transition: 0.3s linear;

  &:hover {
    color: #69f0ae;
  }
}

.iconImportant {
  &:hover {
    color: #c2185b;
  }

  &.important {
    color: #c2185b;
  }
}

.container {
  width: 100%;
  margin-bottom: 10px;
  background-color: #303030;
}

.contentTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.title {
  font-size: 18px;
  margin: 0;
}
