<div class="container">
  <div [ngStyle]="{ backgroundColor: color }" class="contentTitle">
    <h1 class="title">{{ boardItem.title }}</h1>
    <button
      mat-icon-button
      aria-label="Example icon button with a vertical three dot icon"
      class="icon iconImportant"
      [ngClass]="boardItem.important ? 'important' : ''"
      (click)="handleImportant()"
    >
      <mat-icon>priority_high</mat-icon>
    </button>
  </div>
  <div class="contentTitle">
    <button
      mat-icon-button
      aria-label="Example icon button with a vertical three dot icon"
      class="icon"
      (click)="handleDisLike()"
    >
      <mat-icon>thumb_down_alt</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Example icon button with a vertical three dot icon"
      class="icon"
      (click)="handleLike()"
    >
      <mat-icon>thumb_up_alt</mat-icon>
      {{ boardItem.likes }}
    </button>
    <button
      mat-icon-button
      aria-label="Example icon button with a vertical three dot icon"
      class="icon"
      (click)="handleOpenCommentsButton()"
    >
      <mat-icon>comment</mat-icon>
      {{ boardItem?.comments?.length ?? 0 }}
    </button>
    <button
      mat-icon-button
      aria-label="Example icon button with a vertical three dot icon"
      class="icon"
      (click)="handleDelete()"
    >
      <mat-icon>delete_sweep</mat-icon>
    </button>
  </div>
  <app-comments
    *ngIf="isCommentsOpened"
    [comments]="boardItem.comments"
    [boardId]="boardId"
    [boardItemIndex]="currentIndex"
  ></app-comments>
</div>
