<app-header (openAddBoardForm)="setAddForm($event)" (exportToExcel)="exportData($event)"></app-header>
<div class="container">
  <app-boards [boards]="boards.slice()"></app-boards>
</div>
<app-form
    *ngIf="isAddBoardFormOpened"
    [contentType]="'ADD_BOARD'"
    [class]="'formModal'"
    (setCanCloseForm)="setAddForm($event)"
  ></app-form>

