<div [ngClass]="class">
  <form [formGroup]="form" (ngSubmit)="submitHandler()" class="form">
    <div class="group">
      <label for="data">{{ label }}</label>
      <input type="text" id="data" formControlName="data" class="control" />
    </div>
    <div class="group">
      <button class="btn btnSave" type="submit" [disabled]="!form.valid">
        Save
      </button>
      <button
        type="button"
        class="btn btnCancel"
        (click)="closeFormHandler()"
        *ngIf="contentType !== 'ADD_COMMENT'"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
