.form {
  background-color: #f2f2f2;
  padding: 25px;
  border-radius: 10px;
  box-sizing: border-box;
}

.formModal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);

  & .form {
    width: 40%;
  }
}

.group {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.control {
  flex-grow: 1;
  margin-left: 10px;
  border: none;
  background: none;
  border-bottom: 1px solid #69f0ae;
  padding: 5px 10px;

  &:focus {
    outline: none;
    border-bottom-color: #1ffa90;
  }
}

.addTaskForm,
.addCommentForm {
  & .form {
    width: 100%;
    padding: 10px;

    & label {
      width: 100%;
    }
  }
}

.addCommentForm {
  .form {
    background-color: inherit;
    color: white;
    padding: 0;

    & {
      .control {
        margin-left: 5px;
        color: white;
      }
    }

    .group {
      flex-wrap: wrap;
    }
  }
}

.btn {
  border: none;
  background: none;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid;
  text-align: center;
  vertical-align: middle;
  transition: 0.3s linear;
  cursor: pointer;
}

.btnSave {
  margin-right: 10px;
  background-color: #69f0ae;
  border-color: #69f0ae;
  color: white;

  &:hover {
    border-color: #1ffa90;
  }
}

.btnCancel {
  background-color: #99a19d;
  color: white;
  border-color: #99a19d;
  &:hover {
    border-color: #86918b;
  }
}
