<div class="colorContainer">
  <div *ngFor="let color of colors">
    <div
      [ngStyle]="{ background: color }"
      class="color-panel-item"
      (click)="changeColorHandler(color)"
    ></div>
  </div>
</div>
