.colorContainer {
  display: flex;
  margin-bottom: 20px;
}

.color-panel-item {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: ease-in-out opacity 0.1s;
}

.color-panel-item:hover {
  opacity: 0.6;
}
