<app-color-pick [boardId]="board?.id ?? ''"></app-color-pick>
<div class="titleContainer" [ngStyle]="{ color: board.color }">
  <h2 class="title">{{ board.title }}</h2>
  <button
    mat-icon-button
    aria-label="Example icon button with a vertical three dot icon"
    class="icon"
    (click)="handleDeleteBoard()"
  >
    <mat-icon>delete_sweep</mat-icon>
  </button>
</div>
<div
  cdkDropList
  [cdkDropListData]="board.items"
  class="example-list"
  (cdkDropListDropped)="drop($event)"
>
  <div
    class="example-box"
    cdkDrag
    *ngFor="let boardItem of board.items; let index = index"
  >
    <app-board
      [boardItem]="boardItem"
      [boardId]="board.id ?? ''"
      [color]="board.color"
      [currentIndex]="index"
    ></app-board>
  </div>
  <div class="example-button-container">
    <button
      mat-fab
      color="primary"
      aria-label="Example icon button with a delete icon"
      (click)="handleOpenFormButton()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <app-form
    *ngIf="isTaskFormOpened"
    [contentType]="'ADD_TASK'"
    [boardId]="board.id ?? ''"
    (setCanCloseForm)="handleCloseForm($event)"
    [class]="'addTaskForm'"
  ></app-form>
</div>
