<div class="boards" cdkDropListGroup>
  <div class="example-container" *ngFor="let board of boards">
    <app-board-column [board]="board" (changeBoardEmitter)="updateDB($event)"></app-board-column>
  </div>
</div>
