.example-container {
  width: 30%;
  max-width: 100%;
  margin-bottom: 30px;
  display: inline-block;
  vertical-align: top;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  @media screen and (max-width: 960px) {
    width: 43%;
  }
}

.boards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
